@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav style="display: flex;">
    <a style="flex-grow:1; text-align:center;" href="/About">About</a>
    <a style="flex-grow:1; text-align:center;" href="/Menu">Menu</a>
    <a style="flex-grow:1;text-align:center;" href="/Privacy">Privacy</a>
</nav>


<img src="~/Assets/logo.png" alt="Dino-Diner" style="width:50%; display:block;  margin-left:auto; margin-right:auto;" />