<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            Represents a combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Entree of the combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            init with entree
            </summary>
            <param name="entree"></param>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Combo price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Combo total calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            All ingredients in combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.AddSide(DinoDiner.Menu.Side)">
            <summary>
            Add side to combo
            </summary>
            <param name="side"></param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.AddDrink(DinoDiner.Menu.Drink)">
            <summary>
            Add drink to side;
            </summary>
            <param name="drink"></param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Combo name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            Base class for Drinks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drink.ingredients">
            <summary>
            ingrediants accessible from inherited class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.SizeToString">
            <summary>
            Size as string
            </summary>
            <returns></returns>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            Gets or sets ice
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            Holds ice in drink
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            JurrasicJava class
            JurassicJava
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            JurrasicJava constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            gets/sets decaf
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            gets RoomForCream property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            Leaves room for cream
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.AddIce">
            <summary>
            Adds ice to drink
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            Drink name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            Flavors of Sodasaurus drink
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            Cola
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            Orange
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            Root Beer
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            Cherry
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            Lime
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            Sodasauras class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            The drink flavor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            Sodasaurus constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            Drink name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            Tyrannotea drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            gets/sets drink sweet property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            gets Lemon property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            Tyrannotea constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Adds Lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            Drink name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            Water drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            gets/sets size of the drink
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            Water constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            gets Lemon property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            adds Lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            Drink name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            Brontowurst entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            Brontowurst constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Hold bun, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Hold peppers, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Hold onion, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            Entree name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            DinoNuggets entree class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.NuggetCount">
            <summary>
            gets/sets the nugget count
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            adds nugget to side order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            DinoNuggets constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            Entree name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            Entree base class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entree.ingredients">
            <summary>
            
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
            
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            PrehistoricPBJ entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            PrehistoricPBJ constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Hold peanut butter, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            Hold jelly, remove if from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            Entree name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            PterodactylWings entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            PterodatylWings constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            Entree name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            SteakosaurusBurger entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            SteakosaurusBurger constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            Hold bun
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            Hold pickle
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            Hold ketchup
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            Hold mustard
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            Entree name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            TRexKingBurger entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            TRexKingBurger constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            Hold bun
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            Hold pickle
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            Hold ketchup
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            Hold mustard
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            Hold lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            Hold tomato
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            Hold onion
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            Hold mayo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            Entree name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            VelociWrap entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            VelociWrap constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            Hold dressing
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            Hold lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            Hold cheese
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            Entree name as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            Represents a menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Price of menue item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Calories of menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            Ingredients contained in menu item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            Fryceritops side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            Fryceritops constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            Side name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            MeteorMacAndCheese class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            MeteorMacAndCheese constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            Side name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            MexxorellaSticks side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            MexxorellaSticks constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            Side name as string.
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            drink sizez
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            Small
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            Medium
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            Large
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Base class of Side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Side.ingredients">
            <summary>
            ingredients accessible by derived clases
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.SizeToString">
            <summary>
            Return size as string
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            Triceritots side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            Triceritots constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
             <summary>
            Side name as string
             </summary>
             <returns></returns>
        </member>
    </members>
</doc>
