<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Drinks.Size">
            <summary>
            Drink size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Size.Small">
            <summary>
            Small
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Size.Medium">
            <summary>
            Medium
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Size.Large">
            <summary>
            Large
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Drink">
            <summary>
            Base class for Drinks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ice">
            <summary>
            Gets or sets ice
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Drink.HoldIce">
            <summary>
            Holds ice in drink
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.JurrasicJava">
            <summary>
            JurrasicJava class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.#ctor">
            <summary>
            JurrasicJava constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.Decaf">
            <summary>
            gets/sets decaf
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.RoomForCream">
            <summary>
            gets RoomForCream property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.LeaveRoomForCream">
            <summary>
            Leaves room for cream
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.AddIce">
            <summary>
            Adds ice to drink
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.SodasaurusFlavor">
            <summary>
            Flavors of Sodasaurus drink
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cola">
            <summary>
            Cola
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Orange">
            <summary>
            Orange
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.RootBeer">
            <summary>
            Root Beer
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cherry">
            <summary>
            Cherry
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Lime">
            <summary>
            Lime
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Sodasaurus">
            <summary>
            Sodasauras class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Sodasaurus.Flavor">
            <summary>
            The drink flavor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Sodasaurus.#ctor">
            <summary>
            Sodasaurus constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Tyrannotea">
            <summary>
            Tyrannotea drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Size">
            <summary>
            gets/sets size of drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Sweet">
            <summary>
            gets/sets drink sweet property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Lemon">
            <summary>
            gets Lemon property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.#ctor">
            <summary>
            Tyrannotea constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.AddLemon">
            <summary>
            Adds Lemon
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Water">
            <summary>
            Water drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Size">
            <summary>
            gets/sets size of the drink
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.#ctor">
            <summary>
            Water constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Lemon">
            <summary>
            gets Lemon property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.AddLemon">
            <summary>
            adds Lemon
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Brontowurst entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Brontowurst constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Hold bun, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Hold peppers, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Hold onion, remove it from ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            DinoNuggets entree class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.NuggetCount">
            <summary>
            gets/sets the nugget count
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            adds nugget to side order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            DinoNuggets constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Entree">
            <summary>
            Entree base class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            PrehistoricPBJ entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            PrehistoricPBJ constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Hold peanut butter, remove it from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Hold jelly, remove if from ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            PterodactylWings entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            PterodatylWings constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            SteakosaurusBurger entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            SteakosaurusBurger constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Hold bun
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            Hold pickle
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Hold ketchup
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Hold mustard
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            TRexKingBurger entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            TRexKingBurger constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Hold bun
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Hold pickle
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Hold ketchup
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Hold mustard
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Hold lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Hold tomato
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Hold onion
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Hold mayo
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            VelociWrap entree class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            VelociWrap constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Hold dressing
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Hold lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Hold cheese
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Fryceritops side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Fryceritops constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            MeteorMacAndCheese class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            MeteorMacAndCheese constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MezzorellaSticks">
            <summary>
            MexxorellaSticks side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.#ctor">
            <summary>
            MexxorellaSticks constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Size">
            <summary>
            drink sizez
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Small">
            <summary>
            Small
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Medium">
            <summary>
            Medium
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Large">
            <summary>
            Large
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Base class of Side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
            <summary>
            Triceritots side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            gets/sets the side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Triceritots constructor
            </summary>
        </member>
    </members>
</doc>
